<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>django_two_shot</title>
  </head>
  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">logout</a></li>
      {% endif %} {% if not user.is_authenticated %}
      <li><a href="{% url 'signup' %}">signup</a></li>
      {% endif %} {% if not user.is_authenticated %}
      <li><a href="{% url 'login' %}">login</a></li>
      {% endif %}
      <li><a href="{% url 'create_receipt' %}">create receipt</a></li>
      <li><a href="{% url 'create_category' %}">create create_category</a></li>
    </ul>
  </nav>
  <body>
    {%block content%} {% endblock content %}
  </body>
</html>
