{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>Number of receipts</th>
      </thead>
      <tbody>
        {% for expense in expensecategory_list %}
        <tr>
          <td>{{expense.name}}</td>
          <td>{{expense.receipts.all|length}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
